@model PavillionData.Models.Physician

@{
    ViewBag.Title = "ViewPhysician";
}


<div class="profile-container">
    <div class="top-profile">
        <h4>Physician</h4>
        <hr />
        <div class="col-md-3">
            @if (Model.ImagePath == null)
            {
                <div>
                    <img src="~/Content/Img/avatar-placeholder.png" alt="Alternate Text" width="200px" height="200px" />
                </div>
            }
            else
            {
                <div>
                    <img src="~/@Model.ImagePath" alt="Alternate Text" width="200px" height="200px" />
                </div>
            }
        </div>
        <div class="col-lg-6">
            <h2>@Model.Title @Model.FirstName @Model.LastName</h2>
            <p>Job Title Here</p>           
        </div>
        <div class="col-lg-3">
            <p>placeholder</p>
        </div>
        <div class="col-lg-4">
            <p>@Model.Specialisation</p>

        </div>
      


    </div>
    

</div>