
@{
    ViewBag.Title = "FirstView";
}

<h2>FirstView</h2>

<p>Add a public profile @Html.ActionLink("now", "Create")</p>

<p>Not ready to build your profile? Explore the site</p>

<p>Need help building your profile?</p>