
@{
    ViewBag.Title = "First View";
}

<h2>Take your experience to the next level</h2>

<p>Add a public profile @Html.ActionLink("now", "Create")</p>

<p>Not ready to build your profile? @Html.ActionLink("Explore the site","Index","Explore")</p>

<p>Need help building your profile? @Html.ActionLink("Visit our support page","","")</p>