
@{
    ViewBag.Title = "UploadImage";
}

<h2>UploadImage</h2>



@using (Html.BeginForm("UploadImage", "Physician", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <input type="text" name="ImageName" placeholder="Image Name" />
    <input type="text" name="ImageDesc" placeholder="Image Description"/>

    <input type="file" name="UserPicture" required>
    <input type="submit" value="Upload" name="submit">


}