@font-face {
    font-family: "Avenir";
    src: url(./Avenir.otf) format('opentype');
}
@font-face {
    font-family: "AvenirBold";
    src: url(./AvenirBold.otf) format('opentype');
}
body {
    background-color:#DEDBD2;
    font-family: Avenir;

}
/*Navbar*/
/*.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}
.navbar-inverse {
    background-color: #8FB7BC;
    border-color: #8FB7BC;
}
.navbar-inverse .navbar-nav > li > a {
    color: #000000;
}
.navbar-inverse .navbar-brand {
    color: #000000;
}*/

.sidenavOne {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#8FB7BC;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}
.sidenavTwo {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 70px;
    background-color: #FFFFFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.ideal-brand-nav {
    margin-bottom: 20px;
    margin-top: -66px;
    font-family:AvenirBold;
}

.sidenavOne a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 26px;
  color: #000000;
  display: block;
  transition: 0.3s;
  overflow-x:hidden;
  white-space:nowrap;
  margin-left: 50px;
      
}


.sidenavTwo a:hover {
  color: #f1f1f1;
}

.sidenavTwo .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.uo-list {
    padding-left:17px;
}
.logged-list {

}
.login-list {

}
@media screen and (max-width: 1000px){
    .logged-list {
    }

    .login-list {
    }
}
@media screen and (max-width: 600px){
    .logged-list {
    }

    .login-list {
    }
}

